@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.container {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
height: 100vh;
    }
    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 100px;
    }
    
    
        body{
          margin: 0;
          
        }
        
        h1{
            color: black;
            margin-left: 100px;
        }
        
        p{
            color: black;
            padding-left: 10px;
            font-size: 10pt;
        }
        .header{
            color: #FFF;
            text-align: left;
            height: 100vh;
             
        }
        .header h1 {
            font-size: 3rem;
            line-height: 1.2;
            margin: 0;
            padding: 0;
            flex-grow: 1;
            z-index: 2;
            position: relative;
            color: black;
            margin-left: 150px;;
      text-transform: uppercase;
      font-size: 2rem;
      text-shadow: 0px 2px 4px rgba(0,0,0,.4);
      margin-top: -5rem;
      margin-top: 100px;
      /* font-family: 'Raleway', sans-serif; */

          }
          .header__log{
              position: relative;
              z-index: 1;
              display: flex;
      align-items: center;
      grid-area: 1 / 2 / 1 / 3;
      padding: 1rem 3rem;
      
      cursor: pointer;
      
      text-shadow: 0px 2px 4px rgba(0,0,0,.4);
      margin-right: .5rem;
        filter: drop-shadow(0px 2px 4px rgba(0,0,0,.5));
        font-size: 15px;
        
          }

          .lang{
            position: relative;
            z-index: 1;
            cursor: pointer;
      text-shadow: 0px 2px 4px rgba(0,0,0,.4);
      margin-right: .5rem;
        filter: drop-shadow(0px 2px 4px rgba(0,0,0,.5));
        padding-left:500px;
          }

          
   
        
        .header .background-img{
            height: auto;
            left: 0;
           height: 100%;
           top: 0;
           width: 100vw;
           position: absolute;
            
        }
        .logoHeader{
            margin-top: 300px;
            margin-left: 200px;
            position: relative;
            z-index: 1;
            width: 30%;
        }
         h2 {
            
            line-height: 1;
            margin-bottom: 100px;
            padding: 0;
            
            z-index: 2;
            position: relative;
            color: black;
            
      text-transform: uppercase;
      font-size: 1.5rem;
      text-shadow: 0px 2px 4px rgba(0,0,0,.4);
      margin-top: -5rem;
      
      /* font-family: 'Raleway', sans-serif; */

          }
        #card-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 50px;
            /* color: white; */
            height: 100vh;
            width: 100vw;
            padding: 0;
            border-top-left-radius: 25px;
            border-top-right-radius:25px;
            
        }
        .company-logo{
             height: 60px;
             width: 500px;
             border-top-left-radius: 25px;
             border-top-right-radius:25px;
             padding:0 0;
             background: #CBA36D;
             box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
             
             
        }
        .crad-body{
            background-color: white;
            height: 280px;
            width: 500px;
            background-image: url(images/9.png);
            background-repeat: no-repeat;
          background-size: 50% 90%;
          background-position: center;
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
         
        }
        
        .footer{
            background: #CBA36D;
            height: 40px;
            width: 500px;
            border-bottom-left-radius: 25px;
            border-bottom-right-radius:25px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
           text-align: left;
        }
        .logo-img{
            width: 50%;
            
        }
        .box{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        #footer .footer-text{
            margin-right: 20px;
        }
         .bottomSide{
         
            
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
           
           
         }
         .row{
            display: flex;
            
            flex-direction: row;
           
            align-items:center;
            padding-bottom: 50px;
            padding-left: 50px;
           
            

         } 
        a{
           
            padding-top: 23px;
            padding-left: 30px;
            
            text-decoration: none;
            color: black;
            display: inline;
        }
        a:hover{
            color: darkgoldenrod;
        }
        
        .medicalList{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            text-align: center;
            justify-content: space-around;
            
            
        }
        .column1{
            width: 50%;
        }
        .column2{
            width: 50%;
        }
        .column3{
            width: 50%;
        }
       
    
        .medicalList .icon{
        
            width: 15%;
            
        }
       
        .medicalList .icon2{
            width: 15%;
            
        }
        .medicalList .icon3{
            width: 15%;
            
        }

       
